In [ ]:
# print multiplication tables from 100 down to 1
def print_tables(start=100, end=1, upto=10):
    for n in range(start, end - 1, -1):
        print(f"Table of {n}:")
        for i in range(1, upto + 1):
            print(f"{n} x {i:2} = {n * i}")
        print()

if __name__ == "__main__":
    print_tables(100, 1, 10)

Table of 100:
100 x  1 = 100
100 x  2 = 200
100 x  3 = 300
100 x  4 = 400
100 x  5 = 500
100 x  6 = 600
100 x  7 = 700
100 x  8 = 800
100 x  9 = 900
100 x 10 = 1000

Table of 99:
99 x  1 = 99
99 x  2 = 198
99 x  3 = 297
99 x  4 = 396
99 x  5 = 495
99 x  6 = 594
99 x  7 = 693
99 x  8 = 792
99 x  9 = 891
99 x 10 = 990

Table of 98:
98 x  1 = 98
98 x  2 = 196
98 x  3 = 294
98 x  4 = 392
98 x  5 = 490
98 x  6 = 588
98 x  7 = 686
98 x  8 = 784
98 x  9 = 882
98 x 10 = 980

Table of 97:
97 x  1 = 97
97 x  2 = 194
97 x  3 = 291
97 x  4 = 388
97 x  5 = 485
97 x  6 = 582
97 x  7 = 679
97 x  8 = 776
97 x  9 = 873
97 x 10 = 970

Table of 96:
96 x  1 = 96
96 x  2 = 192
96 x  3 = 288
96 x  4 = 384
96 x  5 = 480
96 x  6 = 576
96 x  7 = 672
96 x  8 = 768
96 x  9 = 864
96 x 10 = 960

Table of 95:
95 x  1 = 95
95 x  2 = 190
95 x  3 = 285
95 x  4 = 380
95 x  5 = 475
95 x  6 = 570
95 x  7 = 665
95 x  8 = 760
95 x  9 = 855
95 x 10 = 950

Table of 94:
94 x  1 = 94
94 x  2 = 188
94 x  3 = 282
94 x  4 = 376
94 x  5 = 470
94 x  6 = 564
94 x  7 = 658
94 x  8 = 752
94 x  9 = 846
94 x 10 = 940

Table of 93:
93 x  1 = 93
93 x  2 = 186
93 x  3 = 279
93 x  4 = 372
93 x  5 = 465
93 x  6 = 558
93 x  7 = 651
93 x  8 = 744
93 x  9 = 837
93 x 10 = 930

Table of 92:
92 x  1 = 92
92 x  2 = 184
92 x  3 = 276
92 x  4 = 368
92 x  5 = 460
92 x  6 = 552
92 x  7 = 644
92 x  8 = 736
92 x  9 = 828
92 x 10 = 920

Table of 91:
91 x  1 = 91
91 x  2 = 182
91 x  3 = 273
91 x  4 = 364
91 x  5 = 455
91 x  6 = 546
91 x  7 = 637
91 x  8 = 728
91 x  9 = 819
91 x 10 = 910

Table of 90:
90 x  1 = 90
90 x  2 = 180
90 x  3 = 270
90 x  4 = 360
90 x  5 = 450
90 x  6 = 540
90 x  7 = 630
90 x  8 = 720
90 x  9 = 810
90 x 10 = 900

Table of 89:
89 x  1 = 89
89 x  2 = 178
89 x  3 = 267
89 x  4 = 356
89 x  5 = 445
89 x  6 = 534
89 x  7 = 623
89 x  8 = 712
89 x  9 = 801
89 x 10 = 890

Table of 88:
88 x  1 = 88
88 x  2 = 176
88 x  3 = 264
88 x  4 = 352
88 x  5 = 440
88 x  6 = 528
88 x  7 = 616
88 x  8 = 704
88 x  9 = 792
88 x 10 = 880

Table of 87:
87 x  1 = 87
87 x  2 = 174
87 x  3 = 261
87 x  4 = 348
87 x  5 = 435
87 x  6 = 522
87 x  7 = 609
87 x  8 = 696
87 x  9 = 783
87 x 10 = 870

Table of 86:
86 x  1 = 86
86 x  2 = 172
86 x  3 = 258
86 x  4 = 344
86 x  5 = 430
86 x  6 = 516
86 x  7 = 602
86 x  8 = 688
86 x  9 = 774
86 x 10 = 860

Table of 85:
85 x  1 = 85
85 x  2 = 170
85 x  3 = 255
85 x  4 = 340
85 x  5 = 425
85 x  6 = 510
85 x  7 = 595
85 x  8 = 680
85 x  9 = 765
85 x 10 = 850

Table of 84:
84 x  1 = 84
84 x  2 = 168
84 x  3 = 252
84 x  4 = 336
84 x  5 = 420
84 x  6 = 504
84 x  7 = 588
84 x  8 = 672
84 x  9 = 756
84 x 10 = 840

Table of 83:
83 x  1 = 83
83 x  2 = 166
83 x  3 = 249
83 x  4 = 332
83 x  5 = 415
83 x  6 = 498
83 x  7 = 581
83 x  8 = 664
83 x  9 = 747
83 x 10 = 830

Table of 82:
82 x  1 = 82
82 x  2 = 164
82 x  3 = 246
82 x  4 = 328
82 x  5 = 410
82 x  6 = 492
82 x  7 = 574
82 x  8 = 656
82 x  9 = 738
82 x 10 = 820

Table of 81:
81 x  1 = 81
81 x  2 = 162
81 x  3 = 243
81 x  4 = 324
81 x  5 = 405
81 x  6 = 486
81 x  7 = 567
81 x  8 = 648
81 x  9 = 729
81 x 10 = 810

Table of 80:
80 x  1 = 80
80 x  2 = 160
80 x  3 = 240
80 x  4 = 320
80 x  5 = 400
80 x  6 = 480
80 x  7 = 560
80 x  8 = 640
80 x  9 = 720
80 x 10 = 800

Table of 79:
79 x  1 = 79
79 x  2 = 158
79 x  3 = 237
79 x  4 = 316
79 x  5 = 395
79 x  6 = 474
79 x  7 = 553
79 x  8 = 632
79 x  9 = 711
79 x 10 = 790

Table of 78:
78 x  1 = 78
78 x  2 = 156
78 x  3 = 234
78 x  4 = 312
78 x  5 = 390
78 x  6 = 468
78 x  7 = 546
78 x  8 = 624
78 x  9 = 702
78 x 10 = 780

Table of 77:
77 x  1 = 77
77 x  2 = 154
77 x  3 = 231
77 x  4 = 308
77 x  5 = 385
77 x  6 = 462
77 x  7 = 539
77 x  8 = 616
77 x  9 = 693
77 x 10 = 770

Table of 76:
76 x  1 = 76
76 x  2 = 152
76 x  3 = 228
76 x  4 = 304
76 x  5 = 380
76 x  6 = 456
76 x  7 = 532
76 x  8 = 608
76 x  9 = 684
76 x 10 = 760

Table of 75:
75 x  1 = 75
75 x  2 = 150
75 x  3 = 225
75 x  4 = 300
75 x  5 = 375
75 x  6 = 450
75 x  7 = 525
75 x  8 = 600
75 x  9 = 675
75 x 10 = 750

Table of 74:
74 x  1 = 74
74 x  2 = 148
74 x  3 = 222
74 x  4 = 296
74 x  5 = 370
74 x  6 = 444
74 x  7 = 518
74 x  8 = 592
74 x  9 = 666
74 x 10 = 740

Table of 73:
73 x  1 = 73
73 x  2 = 146
73 x  3 = 219
73 x  4 = 292
73 x  5 = 365
73 x  6 = 438
73 x  7 = 511
73 x  8 = 584
73 x  9 = 657
73 x 10 = 730

Table of 72:
72 x  1 = 72
72 x  2 = 144
72 x  3 = 216
72 x  4 = 288
72 x  5 = 360
72 x  6 = 432
72 x  7 = 504
72 x  8 = 576
72 x  9 = 648
72 x 10 = 720

Table of 71:
71 x  1 = 71
71 x  2 = 142
71 x  3 = 213
71 x  4 = 284
71 x  5 = 355
71 x  6 = 426
71 x  7 = 497
71 x  8 = 568
71 x  9 = 639
71 x 10 = 710

Table of 70:
70 x  1 = 70
70 x  2 = 140
70 x  3 = 210
70 x  4 = 280
70 x  5 = 350
70 x  6 = 420
70 x  7 = 490
70 x  8 = 560
70 x  9 = 630
70 x 10 = 700

Table of 69:
69 x  1 = 69
69 x  2 = 138
69 x  3 = 207
69 x  4 = 276
69 x  5 = 345
69 x  6 = 414
69 x  7 = 483
69 x  8 = 552
69 x  9 = 621
69 x 10 = 690

Table of 68:
68 x  1 = 68
68 x  2 = 136
68 x  3 = 204
68 x  4 = 272
68 x  5 = 340
68 x  6 = 408
68 x  7 = 476
68 x  8 = 544
68 x  9 = 612
68 x 10 = 680

Table of 67:
67 x  1 = 67
67 x  2 = 134
67 x  3 = 201
67 x  4 = 268
67 x  5 = 335
67 x  6 = 402
67 x  7 = 469
67 x  8 = 536
67 x  9 = 603
67 x 10 = 670

Table of 66:
66 x  1 = 66
66 x  2 = 132
66 x  3 = 198
66 x  4 = 264
66 x  5 = 330
66 x  6 = 396
66 x  7 = 462
66 x  8 = 528
66 x  9 = 594
66 x 10 = 660

Table of 65:
65 x  1 = 65
65 x  2 = 130
65 x  3 = 195
65 x  4 = 260
65 x  5 = 325
65 x  6 = 390
65 x  7 = 455
65 x  8 = 520
65 x  9 = 585
65 x 10 = 650

Table of 64:
64 x  1 = 64
64 x  2 = 128
64 x  3 = 192
64 x  4 = 256
64 x  5 = 320
64 x  6 = 384
64 x  7 = 448
64 x  8 = 512
64 x  9 = 576
64 x 10 = 640

Table of 63:
63 x  1 = 63
63 x  2 = 126
63 x  3 = 189
63 x  4 = 252
63 x  5 = 315
63 x  6 = 378
63 x  7 = 441
63 x  8 = 504
63 x  9 = 567
63 x 10 = 630

Table of 62:
62 x  1 = 62
62 x  2 = 124
62 x  3 = 186
62 x  4 = 248
62 x  5 = 310
62 x  6 = 372
62 x  7 = 434
62 x  8 = 496
62 x  9 = 558
62 x 10 = 620

Table of 61:
61 x  1 = 61
61 x  2 = 122
61 x  3 = 183
61 x  4 = 244
61 x  5 = 305
61 x  6 = 366
61 x  7 = 427
61 x  8 = 488
61 x  9 = 549
61 x 10 = 610

Table of 60:
60 x  1 = 60
60 x  2 = 120
60 x  3 = 180
60 x  4 = 240
60 x  5 = 300
60 x  6 = 360
60 x  7 = 420
60 x  8 = 480
60 x  9 = 540
60 x 10 = 600

Table of 59:
59 x  1 = 59
59 x  2 = 118
59 x  3 = 177
59 x  4 = 236
59 x  5 = 295
59 x  6 = 354
59 x  7 = 413
59 x  8 = 472
59 x  9 = 531
59 x 10 = 590

Table of 58:
58 x  1 = 58
58 x  2 = 116
58 x  3 = 174
58 x  4 = 232
58 x  5 = 290
58 x  6 = 348
58 x  7 = 406
58 x  8 = 464
58 x  9 = 522
58 x 10 = 580

Table of 57:
57 x  1 = 57
57 x  2 = 114
57 x  3 = 171
57 x  4 = 228
57 x  5 = 285
57 x  6 = 342
57 x  7 = 399
57 x  8 = 456
57 x  9 = 513
57 x 10 = 570

Table of 56:
56 x  1 = 56
56 x  2 = 112
56 x  3 = 168
56 x  4 = 224
56 x  5 = 280
56 x  6 = 336
56 x  7 = 392
56 x  8 = 448
56 x  9 = 504
56 x 10 = 560

Table of 55:
55 x  1 = 55
55 x  2 = 110
55 x  3 = 165
55 x  4 = 220
55 x  5 = 275
55 x  6 = 330
55 x  7 = 385
55 x  8 = 440
55 x  9 = 495
55 x 10 = 550

Table of 54:
54 x  1 = 54
54 x  2 = 108
54 x  3 = 162
54 x  4 = 216
54 x  5 = 270
54 x  6 = 324
54 x  7 = 378
54 x  8 = 432
54 x  9 = 486
54 x 10 = 540

Table of 53:
53 x  1 = 53
53 x  2 = 106
53 x  3 = 159
53 x  4 = 212
53 x  5 = 265
53 x  6 = 318
53 x  7 = 371
53 x  8 = 424
53 x  9 = 477
53 x 10 = 530

Table of 52:
52 x  1 = 52
52 x  2 = 104
52 x  3 = 156
52 x  4 = 208
52 x  5 = 260
52 x  6 = 312
52 x  7 = 364
52 x  8 = 416
52 x  9 = 468
52 x 10 = 520

Table of 51:
51 x  1 = 51
51 x  2 = 102
51 x  3 = 153
51 x  4 = 204
51 x  5 = 255
51 x  6 = 306
51 x  7 = 357
51 x  8 = 408
51 x  9 = 459
51 x 10 = 510

Table of 50:
50 x  1 = 50
50 x  2 = 100
50 x  3 = 150
50 x  4 = 200
50 x  5 = 250
50 x  6 = 300
50 x  7 = 350
50 x  8 = 400
50 x  9 = 450
50 x 10 = 500

Table of 49:
49 x  1 = 49
49 x  2 = 98
49 x  3 = 147
49 x  4 = 196
49 x  5 = 245
49 x  6 = 294
49 x  7 = 343
49 x  8 = 392
49 x  9 = 441
49 x 10 = 490

Table of 48:
48 x  1 = 48
48 x  2 = 96
48 x  3 = 144
48 x  4 = 192
48 x  5 = 240
48 x  6 = 288
48 x  7 = 336
48 x  8 = 384
48 x  9 = 432
48 x 10 = 480

Table of 47:
47 x  1 = 47
47 x  2 = 94
47 x  3 = 141
47 x  4 = 188
47 x  5 = 235
47 x  6 = 282
47 x  7 = 329
47 x  8 = 376
47 x  9 = 423
47 x 10 = 470

Table of 46:
46 x  1 = 46
46 x  2 = 92
46 x  3 = 138
46 x  4 = 184
46 x  5 = 230
46 x  6 = 276
46 x  7 = 322
46 x  8 = 368
46 x  9 = 414
46 x 10 = 460

Table of 45:
45 x  1 = 45
45 x  2 = 90
45 x  3 = 135
45 x  4 = 180
45 x  5 = 225
45 x  6 = 270
45 x  7 = 315
45 x  8 = 360
45 x  9 = 405
45 x 10 = 450

Table of 44:
44 x  1 = 44
44 x  2 = 88
44 x  3 = 132
44 x  4 = 176
44 x  5 = 220
44 x  6 = 264
44 x  7 = 308
44 x  8 = 352
44 x  9 = 396
44 x 10 = 440

Table of 43:
43 x  1 = 43
43 x  2 = 86
43 x  3 = 129
43 x  4 = 172
43 x  5 = 215
43 x  6 = 258
43 x  7 = 301
43 x  8 = 344
43 x  9 = 387
43 x 10 = 430

Table of 42:
42 x  1 = 42
42 x  2 = 84
42 x  3 = 126
42 x  4 = 168
42 x  5 = 210
42 x  6 = 252
42 x  7 = 294
42 x  8 = 336
42 x  9 = 378
42 x 10 = 420

Table of 41:
41 x  1 = 41
41 x  2 = 82
41 x  3 = 123
41 x  4 = 164
41 x  5 = 205
41 x  6 = 246
41 x  7 = 287
41 x  8 = 328
41 x  9 = 369
41 x 10 = 410

Table of 40:
40 x  1 = 40
40 x  2 = 80
40 x  3 = 120
40 x  4 = 160
40 x  5 = 200
40 x  6 = 240
40 x  7 = 280
40 x  8 = 320
40 x  9 = 360
40 x 10 = 400

Table of 39:
39 x  1 = 39
39 x  2 = 78
39 x  3 = 117
39 x  4 = 156
39 x  5 = 195
39 x  6 = 234
39 x  7 = 273
39 x  8 = 312
39 x  9 = 351
39 x 10 = 390

Table of 38:
38 x  1 = 38
38 x  2 = 76
38 x  3 = 114
38 x  4 = 152
38 x  5 = 190
38 x  6 = 228
38 x  7 = 266
38 x  8 = 304
38 x  9 = 342
38 x 10 = 380

Table of 37:
37 x  1 = 37
37 x  2 = 74
37 x  3 = 111
37 x  4 = 148
37 x  5 = 185
37 x  6 = 222
37 x  7 = 259
37 x  8 = 296
37 x  9 = 333
37 x 10 = 370

Table of 36:
36 x  1 = 36
36 x  2 = 72
36 x  3 = 108
36 x  4 = 144
36 x  5 = 180
36 x  6 = 216
36 x  7 = 252
36 x  8 = 288
36 x  9 = 324
36 x 10 = 360

Table of 35:
35 x  1 = 35
35 x  2 = 70
35 x  3 = 105
35 x  4 = 140
35 x  5 = 175
35 x  6 = 210
35 x  7 = 245
35 x  8 = 280
35 x  9 = 315
35 x 10 = 350

Table of 34:
34 x  1 = 34
34 x  2 = 68
34 x  3 = 102
34 x  4 = 136
34 x  5 = 170
34 x  6 = 204
34 x  7 = 238
34 x  8 = 272
34 x  9 = 306
34 x 10 = 340

Table of 33:
33 x  1 = 33
33 x  2 = 66
33 x  3 = 99
33 x  4 = 132
33 x  5 = 165
33 x  6 = 198
33 x  7 = 231
33 x  8 = 264
33 x  9 = 297
33 x 10 = 330

Table of 32:
32 x  1 = 32
32 x  2 = 64
32 x  3 = 96
32 x  4 = 128
32 x  5 = 160
32 x  6 = 192
32 x  7 = 224
32 x  8 = 256
32 x  9 = 288
32 x 10 = 320

Table of 31:
31 x  1 = 31
31 x  2 = 62
31 x  3 = 93
31 x  4 = 124
31 x  5 = 155
31 x  6 = 186
31 x  7 = 217
31 x  8 = 248
31 x  9 = 279
31 x 10 = 310

Table of 30:
30 x  1 = 30
30 x  2 = 60
30 x  3 = 90
30 x  4 = 120
30 x  5 = 150
30 x  6 = 180
30 x  7 = 210
30 x  8 = 240
30 x  9 = 270
30 x 10 = 300

Table of 29:
29 x  1 = 29
29 x  2 = 58
29 x  3 = 87
29 x  4 = 116
29 x  5 = 145
29 x  6 = 174
29 x  7 = 203
29 x  8 = 232
29 x  9 = 261
29 x 10 = 290

Table of 28:
28 x  1 = 28
28 x  2 = 56
28 x  3 = 84
28 x  4 = 112
28 x  5 = 140
28 x  6 = 168
28 x  7 = 196
28 x  8 = 224
28 x  9 = 252
28 x 10 = 280

Table of 27:
27 x  1 = 27
27 x  2 = 54
27 x  3 = 81
27 x  4 = 108
27 x  5 = 135
27 x  6 = 162
27 x  7 = 189
27 x  8 = 216
27 x  9 = 243
27 x 10 = 270

Table of 26:
26 x  1 = 26
26 x  2 = 52
26 x  3 = 78
26 x  4 = 104
26 x  5 = 130
26 x  6 = 156
26 x  7 = 182
26 x  8 = 208
26 x  9 = 234
26 x 10 = 260

Table of 25:
25 x  1 = 25
25 x  2 = 50
25 x  3 = 75
25 x  4 = 100
25 x  5 = 125
25 x  6 = 150
25 x  7 = 175
25 x  8 = 200
25 x  9 = 225
25 x 10 = 250

Table of 24:
24 x  1 = 24
24 x  2 = 48
24 x  3 = 72
24 x  4 = 96
24 x  5 = 120
24 x  6 = 144
24 x  7 = 168
24 x  8 = 192
24 x  9 = 216
24 x 10 = 240

Table of 23:
23 x  1 = 23
23 x  2 = 46
23 x  3 = 69
23 x  4 = 92
23 x  5 = 115
23 x  6 = 138
23 x  7 = 161
23 x  8 = 184
23 x  9 = 207
23 x 10 = 230

Table of 22:
22 x  1 = 22
22 x  2 = 44
22 x  3 = 66
22 x  4 = 88
22 x  5 = 110
22 x  6 = 132
22 x  7 = 154
22 x  8 = 176
22 x  9 = 198
22 x 10 = 220

Table of 21:
21 x  1 = 21
21 x  2 = 42
21 x  3 = 63
21 x  4 = 84
21 x  5 = 105
21 x  6 = 126
21 x  7 = 147
21 x  8 = 168
21 x  9 = 189
21 x 10 = 210

Table of 20:
20 x  1 = 20
20 x  2 = 40
20 x  3 = 60
20 x  4 = 80
20 x  5 = 100
20 x  6 = 120
20 x  7 = 140
20 x  8 = 160
20 x  9 = 180
20 x 10 = 200

Table of 19:
19 x  1 = 19
19 x  2 = 38
19 x  3 = 57
19 x  4 = 76
19 x  5 = 95
19 x  6 = 114
19 x  7 = 133
19 x  8 = 152
19 x  9 = 171
19 x 10 = 190

Table of 18:
18 x  1 = 18
18 x  2 = 36
18 x  3 = 54
18 x  4 = 72
18 x  5 = 90
18 x  6 = 108
18 x  7 = 126
18 x  8 = 144
18 x  9 = 162
18 x 10 = 180

Table of 17:
17 x  1 = 17
17 x  2 = 34
17 x  3 = 51
17 x  4 = 68
17 x  5 = 85
17 x  6 = 102
17 x  7 = 119
17 x  8 = 136
17 x  9 = 153
17 x 10 = 170

Table of 16:
16 x  1 = 16
16 x  2 = 32
16 x  3 = 48
16 x  4 = 64
16 x  5 = 80
16 x  6 = 96
16 x  7 = 112
16 x  8 = 128
16 x  9 = 144
16 x 10 = 160

Table of 15:
15 x  1 = 15
15 x  2 = 30
15 x  3 = 45
15 x  4 = 60
15 x  5 = 75
15 x  6 = 90
15 x  7 = 105
15 x  8 = 120
15 x  9 = 135
15 x 10 = 150

Table of 14:
14 x  1 = 14
14 x  2 = 28
14 x  3 = 42
14 x  4 = 56
14 x  5 = 70
14 x  6 = 84
14 x  7 = 98
14 x  8 = 112
14 x  9 = 126
14 x 10 = 140

Table of 13:
13 x  1 = 13
13 x  2 = 26
13 x  3 = 39
13 x  4 = 52
13 x  5 = 65
13 x  6 = 78
13 x  7 = 91
13 x  8 = 104
13 x  9 = 117
13 x 10 = 130

Table of 12:
12 x  1 = 12
12 x  2 = 24
12 x  3 = 36
12 x  4 = 48
12 x  5 = 60
12 x  6 = 72
12 x  7 = 84
12 x  8 = 96
12 x  9 = 108
12 x 10 = 120

Table of 11:
11 x  1 = 11
11 x  2 = 22
11 x  3 = 33
11 x  4 = 44
11 x  5 = 55
11 x  6 = 66
11 x  7 = 77
11 x  8 = 88
11 x  9 = 99
11 x 10 = 110

Table of 10:
10 x  1 = 10
10 x  2 = 20
10 x  3 = 30
10 x  4 = 40
10 x  5 = 50
10 x  6 = 60
10 x  7 = 70
10 x  8 = 80
10 x  9 = 90
10 x 10 = 100

Table of 9:
9 x  1 = 9
9 x  2 = 18
9 x  3 = 27
9 x  4 = 36
9 x  5 = 45
9 x  6 = 54
9 x  7 = 63
9 x  8 = 72
9 x  9 = 81
9 x 10 = 90

Table of 8:
8 x  1 = 8
8 x  2 = 16
8 x  3 = 24
8 x  4 = 32
8 x  5 = 40
8 x  6 = 48
8 x  7 = 56
8 x  8 = 64
8 x  9 = 72
8 x 10 = 80

Table of 7:
7 x  1 = 7
7 x  2 = 14
7 x  3 = 21
7 x  4 = 28
7 x  5 = 35
7 x  6 = 42
7 x  7 = 49
7 x  8 = 56
7 x  9 = 63
7 x 10 = 70

Table of 6:
6 x  1 = 6
6 x  2 = 12
6 x  3 = 18
6 x  4 = 24
6 x  5 = 30
6 x  6 = 36
6 x  7 = 42
6 x  8 = 48
6 x  9 = 54
6 x 10 = 60

Table of 5:
5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x 10 = 50

Table of 4:
4 x  1 = 4
4 x  2 = 8
4 x  3 = 12
4 x  4 = 16
4 x  5 = 20
4 x  6 = 24
4 x  7 = 28
4 x  8 = 32
4 x  9 = 36
4 x 10 = 40

Table of 3:
3 x  1 = 3
3 x  2 = 6
3 x  3 = 9
3 x  4 = 12
3 x  5 = 15
3 x  6 = 18
3 x  7 = 21
3 x  8 = 24
3 x  9 = 27
3 x 10 = 30

Table of 2:
2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x 10 = 20

Table of 1:
1 x  1 = 1
1 x  2 = 2
1 x  3 = 3
1 x  4 = 4
1 x  5 = 5
1 x  6 = 6
1 x  7 = 7
1 x  8 = 8
1 x  9 = 9
1 x 10 = 10

In [4]:
# Use the existing print_tables function defined in the previous cell
# Print multiplication tables from 100 down to 1 up to 20 multiples
# print multiplication tables from 100 down to 1
def print_tables(start=100, end=1, upto=10):
    for n in range(start, end - 1, -1):
        print(f"Table of {n}:")
        for i in range(1, upto + 1):
            print(f"{n} x {i:2} = {n * i}")
        print()

if __name__ == "__main__":
    print_tables(100, 1, 20)

Table of 100:
100 x  1 = 100
100 x  2 = 200
100 x  3 = 300
100 x  4 = 400
100 x  5 = 500
100 x  6 = 600
100 x  7 = 700
100 x  8 = 800
100 x  9 = 900
100 x 10 = 1000
100 x 11 = 1100
100 x 12 = 1200
100 x 13 = 1300
100 x 14 = 1400
100 x 15 = 1500
100 x 16 = 1600
100 x 17 = 1700
100 x 18 = 1800
100 x 19 = 1900
100 x 20 = 2000

Table of 99:
99 x  1 = 99
99 x  2 = 198
99 x  3 = 297
99 x  4 = 396
99 x  5 = 495
99 x  6 = 594
99 x  7 = 693
99 x  8 = 792
99 x  9 = 891
99 x 10 = 990
99 x 11 = 1089
99 x 12 = 1188
99 x 13 = 1287
99 x 14 = 1386
99 x 15 = 1485
99 x 16 = 1584
99 x 17 = 1683
99 x 18 = 1782
99 x 19 = 1881
99 x 20 = 1980

Table of 98:
98 x  1 = 98
98 x  2 = 196
98 x  3 = 294
98 x  4 = 392
98 x  5 = 490
98 x  6 = 588
98 x  7 = 686
98 x  8 = 784
98 x  9 = 882
98 x 10 = 980
98 x 11 = 1078
98 x 12 = 1176
98 x 13 = 1274
98 x 14 = 1372
98 x 15 = 1470
98 x 16 = 1568
98 x 17 = 1666
98 x 18 = 1764
98 x 19 = 1862
98 x 20 = 1960

Table of 97:
97 x  1 = 97
97 x  2 = 194
97 x  3 = 291
97 x  4 = 388
97 x  5 = 485
97 x  6 = 582
97 x  7 = 679
97 x  8 = 776
97 x  9 = 873
97 x 10 = 970
97 x 11 = 1067
97 x 12 = 1164
97 x 13 = 1261
97 x 14 = 1358
97 x 15 = 1455
97 x 16 = 1552
97 x 17 = 1649
97 x 18 = 1746
97 x 19 = 1843
97 x 20 = 1940

Table of 96:
96 x  1 = 96
96 x  2 = 192
96 x  3 = 288
96 x  4 = 384
96 x  5 = 480
96 x  6 = 576
96 x  7 = 672
96 x  8 = 768
96 x  9 = 864
96 x 10 = 960
96 x 11 = 1056
96 x 12 = 1152
96 x 13 = 1248
96 x 14 = 1344
96 x 15 = 1440
96 x 16 = 1536
96 x 17 = 1632
96 x 18 = 1728
96 x 19 = 1824
96 x 20 = 1920

Table of 95:
95 x  1 = 95
95 x  2 = 190
95 x  3 = 285
95 x  4 = 380
95 x  5 = 475
95 x  6 = 570
95 x  7 = 665
95 x  8 = 760
95 x  9 = 855
95 x 10 = 950
95 x 11 = 1045
95 x 12 = 1140
95 x 13 = 1235
95 x 14 = 1330
95 x 15 = 1425
95 x 16 = 1520
95 x 17 = 1615
95 x 18 = 1710
95 x 19 = 1805
95 x 20 = 1900

Table of 94:
94 x  1 = 94
94 x  2 = 188
94 x  3 = 282
94 x  4 = 376
94 x  5 = 470
94 x  6 = 564
94 x  7 = 658
94 x  8 = 752
94 x  9 = 846
94 x 10 = 940
94 x 11 = 1034
94 x 12 = 1128
94 x 13 = 1222
94 x 14 = 1316
94 x 15 = 1410
94 x 16 = 1504
94 x 17 = 1598
94 x 18 = 1692
94 x 19 = 1786
94 x 20 = 1880

Table of 93:
93 x  1 = 93
93 x  2 = 186
93 x  3 = 279
93 x  4 = 372
93 x  5 = 465
93 x  6 = 558
93 x  7 = 651
93 x  8 = 744
93 x  9 = 837
93 x 10 = 930
93 x 11 = 1023
93 x 12 = 1116
93 x 13 = 1209
93 x 14 = 1302
93 x 15 = 1395
93 x 16 = 1488
93 x 17 = 1581
93 x 18 = 1674
93 x 19 = 1767
93 x 20 = 1860

Table of 92:
92 x  1 = 92
92 x  2 = 184
92 x  3 = 276
92 x  4 = 368
92 x  5 = 460
92 x  6 = 552
92 x  7 = 644
92 x  8 = 736
92 x  9 = 828
92 x 10 = 920
92 x 11 = 1012
92 x 12 = 1104
92 x 13 = 1196
92 x 14 = 1288
92 x 15 = 1380
92 x 16 = 1472
92 x 17 = 1564
92 x 18 = 1656
92 x 19 = 1748
92 x 20 = 1840

Table of 91:
91 x  1 = 91
91 x  2 = 182
91 x  3 = 273
91 x  4 = 364
91 x  5 = 455
91 x  6 = 546
91 x  7 = 637
91 x  8 = 728
91 x  9 = 819
91 x 10 = 910
91 x 11 = 1001
91 x 12 = 1092
91 x 13 = 1183
91 x 14 = 1274
91 x 15 = 1365
91 x 16 = 1456
91 x 17 = 1547
91 x 18 = 1638
91 x 19 = 1729
91 x 20 = 1820

Table of 90:
90 x  1 = 90
90 x  2 = 180
90 x  3 = 270
90 x  4 = 360
90 x  5 = 450
90 x  6 = 540
90 x  7 = 630
90 x  8 = 720
90 x  9 = 810
90 x 10 = 900
90 x 11 = 990
90 x 12 = 1080
90 x 13 = 1170
90 x 14 = 1260
90 x 15 = 1350
90 x 16 = 1440
90 x 17 = 1530
90 x 18 = 1620
90 x 19 = 1710
90 x 20 = 1800

Table of 89:
89 x  1 = 89
89 x  2 = 178
89 x  3 = 267
89 x  4 = 356
89 x  5 = 445
89 x  6 = 534
89 x  7 = 623
89 x  8 = 712
89 x  9 = 801
89 x 10 = 890
89 x 11 = 979
89 x 12 = 1068
89 x 13 = 1157
89 x 14 = 1246
89 x 15 = 1335
89 x 16 = 1424
89 x 17 = 1513
89 x 18 = 1602
89 x 19 = 1691
89 x 20 = 1780

Table of 88:
88 x  1 = 88
88 x  2 = 176
88 x  3 = 264
88 x  4 = 352
88 x  5 = 440
88 x  6 = 528
88 x  7 = 616
88 x  8 = 704
88 x  9 = 792
88 x 10 = 880
88 x 11 = 968
88 x 12 = 1056
88 x 13 = 1144
88 x 14 = 1232
88 x 15 = 1320
88 x 16 = 1408
88 x 17 = 1496
88 x 18 = 1584
88 x 19 = 1672
88 x 20 = 1760

Table of 87:
87 x  1 = 87
87 x  2 = 174
87 x  3 = 261
87 x  4 = 348
87 x  5 = 435
87 x  6 = 522
87 x  7 = 609
87 x  8 = 696
87 x  9 = 783
87 x 10 = 870
87 x 11 = 957
87 x 12 = 1044
87 x 13 = 1131
87 x 14 = 1218
87 x 15 = 1305
87 x 16 = 1392
87 x 17 = 1479
87 x 18 = 1566
87 x 19 = 1653
87 x 20 = 1740

Table of 86:
86 x  1 = 86
86 x  2 = 172
86 x  3 = 258
86 x  4 = 344
86 x  5 = 430
86 x  6 = 516
86 x  7 = 602
86 x  8 = 688
86 x  9 = 774
86 x 10 = 860
86 x 11 = 946
86 x 12 = 1032
86 x 13 = 1118
86 x 14 = 1204
86 x 15 = 1290
86 x 16 = 1376
86 x 17 = 1462
86 x 18 = 1548
86 x 19 = 1634
86 x 20 = 1720

Table of 85:
85 x  1 = 85
85 x  2 = 170
85 x  3 = 255
85 x  4 = 340
85 x  5 = 425
85 x  6 = 510
85 x  7 = 595
85 x  8 = 680
85 x  9 = 765
85 x 10 = 850
85 x 11 = 935
85 x 12 = 1020
85 x 13 = 1105
85 x 14 = 1190
85 x 15 = 1275
85 x 16 = 1360
85 x 17 = 1445
85 x 18 = 1530
85 x 19 = 1615
85 x 20 = 1700

Table of 84:
84 x  1 = 84
84 x  2 = 168
84 x  3 = 252
84 x  4 = 336
84 x  5 = 420
84 x  6 = 504
84 x  7 = 588
84 x  8 = 672
84 x  9 = 756
84 x 10 = 840
84 x 11 = 924
84 x 12 = 1008
84 x 13 = 1092
84 x 14 = 1176
84 x 15 = 1260
84 x 16 = 1344
84 x 17 = 1428
84 x 18 = 1512
84 x 19 = 1596
84 x 20 = 1680

Table of 83:
83 x  1 = 83
83 x  2 = 166
83 x  3 = 249
83 x  4 = 332
83 x  5 = 415
83 x  6 = 498
83 x  7 = 581
83 x  8 = 664
83 x  9 = 747
83 x 10 = 830
83 x 11 = 913
83 x 12 = 996
83 x 13 = 1079
83 x 14 = 1162
83 x 15 = 1245
83 x 16 = 1328
83 x 17 = 1411
83 x 18 = 1494
83 x 19 = 1577
83 x 20 = 1660

Table of 82:
82 x  1 = 82
82 x  2 = 164
82 x  3 = 246
82 x  4 = 328
82 x  5 = 410
82 x  6 = 492
82 x  7 = 574
82 x  8 = 656
82 x  9 = 738
82 x 10 = 820
82 x 11 = 902
82 x 12 = 984
82 x 13 = 1066
82 x 14 = 1148
82 x 15 = 1230
82 x 16 = 1312
82 x 17 = 1394
82 x 18 = 1476
82 x 19 = 1558
82 x 20 = 1640

Table of 81:
81 x  1 = 81
81 x  2 = 162
81 x  3 = 243
81 x  4 = 324
81 x  5 = 405
81 x  6 = 486
81 x  7 = 567
81 x  8 = 648
81 x  9 = 729
81 x 10 = 810
81 x 11 = 891
81 x 12 = 972
81 x 13 = 1053
81 x 14 = 1134
81 x 15 = 1215
81 x 16 = 1296
81 x 17 = 1377
81 x 18 = 1458
81 x 19 = 1539
81 x 20 = 1620

Table of 80:
80 x  1 = 80
80 x  2 = 160
80 x  3 = 240
80 x  4 = 320
80 x  5 = 400
80 x  6 = 480
80 x  7 = 560
80 x  8 = 640
80 x  9 = 720
80 x 10 = 800
80 x 11 = 880
80 x 12 = 960
80 x 13 = 1040
80 x 14 = 1120
80 x 15 = 1200
80 x 16 = 1280
80 x 17 = 1360
80 x 18 = 1440
80 x 19 = 1520
80 x 20 = 1600

Table of 79:
79 x  1 = 79
79 x  2 = 158
79 x  3 = 237
79 x  4 = 316
79 x  5 = 395
79 x  6 = 474
79 x  7 = 553
79 x  8 = 632
79 x  9 = 711
79 x 10 = 790
79 x 11 = 869
79 x 12 = 948
79 x 13 = 1027
79 x 14 = 1106
79 x 15 = 1185
79 x 16 = 1264
79 x 17 = 1343
79 x 18 = 1422
79 x 19 = 1501
79 x 20 = 1580

Table of 78:
78 x  1 = 78
78 x  2 = 156
78 x  3 = 234
78 x  4 = 312
78 x  5 = 390
78 x  6 = 468
78 x  7 = 546
78 x  8 = 624
78 x  9 = 702
78 x 10 = 780
78 x 11 = 858
78 x 12 = 936
78 x 13 = 1014
78 x 14 = 1092
78 x 15 = 1170
78 x 16 = 1248
78 x 17 = 1326
78 x 18 = 1404
78 x 19 = 1482
78 x 20 = 1560

Table of 77:
77 x  1 = 77
77 x  2 = 154
77 x  3 = 231
77 x  4 = 308
77 x  5 = 385
77 x  6 = 462
77 x  7 = 539
77 x  8 = 616
77 x  9 = 693
77 x 10 = 770
77 x 11 = 847
77 x 12 = 924
77 x 13 = 1001
77 x 14 = 1078
77 x 15 = 1155
77 x 16 = 1232
77 x 17 = 1309
77 x 18 = 1386
77 x 19 = 1463
77 x 20 = 1540

Table of 76:
76 x  1 = 76
76 x  2 = 152
76 x  3 = 228
76 x  4 = 304
76 x  5 = 380
76 x  6 = 456
76 x  7 = 532
76 x  8 = 608
76 x  9 = 684
76 x 10 = 760
76 x 11 = 836
76 x 12 = 912
76 x 13 = 988
76 x 14 = 1064
76 x 15 = 1140
76 x 16 = 1216
76 x 17 = 1292
76 x 18 = 1368
76 x 19 = 1444
76 x 20 = 1520

Table of 75:
75 x  1 = 75
75 x  2 = 150
75 x  3 = 225
75 x  4 = 300
75 x  5 = 375
75 x  6 = 450
75 x  7 = 525
75 x  8 = 600
75 x  9 = 675
75 x 10 = 750
75 x 11 = 825
75 x 12 = 900
75 x 13 = 975
75 x 14 = 1050
75 x 15 = 1125
75 x 16 = 1200
75 x 17 = 1275
75 x 18 = 1350
75 x 19 = 1425
75 x 20 = 1500

Table of 74:
74 x  1 = 74
74 x  2 = 148
74 x  3 = 222
74 x  4 = 296
74 x  5 = 370
74 x  6 = 444
74 x  7 = 518
74 x  8 = 592
74 x  9 = 666
74 x 10 = 740
74 x 11 = 814
74 x 12 = 888
74 x 13 = 962
74 x 14 = 1036
74 x 15 = 1110
74 x 16 = 1184
74 x 17 = 1258
74 x 18 = 1332
74 x 19 = 1406
74 x 20 = 1480

Table of 73:
73 x  1 = 73
73 x  2 = 146
73 x  3 = 219
73 x  4 = 292
73 x  5 = 365
73 x  6 = 438
73 x  7 = 511
73 x  8 = 584
73 x  9 = 657
73 x 10 = 730
73 x 11 = 803
73 x 12 = 876
73 x 13 = 949
73 x 14 = 1022
73 x 15 = 1095
73 x 16 = 1168
73 x 17 = 1241
73 x 18 = 1314
73 x 19 = 1387
73 x 20 = 1460

Table of 72:
72 x  1 = 72
72 x  2 = 144
72 x  3 = 216
72 x  4 = 288
72 x  5 = 360
72 x  6 = 432
72 x  7 = 504
72 x  8 = 576
72 x  9 = 648
72 x 10 = 720
72 x 11 = 792
72 x 12 = 864
72 x 13 = 936
72 x 14 = 1008
72 x 15 = 1080
72 x 16 = 1152
72 x 17 = 1224
72 x 18 = 1296
72 x 19 = 1368
72 x 20 = 1440

Table of 71:
71 x  1 = 71
71 x  2 = 142
71 x  3 = 213
71 x  4 = 284
71 x  5 = 355
71 x  6 = 426
71 x  7 = 497
71 x  8 = 568
71 x  9 = 639
71 x 10 = 710
71 x 11 = 781
71 x 12 = 852
71 x 13 = 923
71 x 14 = 994
71 x 15 = 1065
71 x 16 = 1136
71 x 17 = 1207
71 x 18 = 1278
71 x 19 = 1349
71 x 20 = 1420

Table of 70:
70 x  1 = 70
70 x  2 = 140
70 x  3 = 210
70 x  4 = 280
70 x  5 = 350
70 x  6 = 420
70 x  7 = 490
70 x  8 = 560
70 x  9 = 630
70 x 10 = 700
70 x 11 = 770
70 x 12 = 840
70 x 13 = 910
70 x 14 = 980
70 x 15 = 1050
70 x 16 = 1120
70 x 17 = 1190
70 x 18 = 1260
70 x 19 = 1330
70 x 20 = 1400

Table of 69:
69 x  1 = 69
69 x  2 = 138
69 x  3 = 207
69 x  4 = 276
69 x  5 = 345
69 x  6 = 414
69 x  7 = 483
69 x  8 = 552
69 x  9 = 621
69 x 10 = 690
69 x 11 = 759
69 x 12 = 828
69 x 13 = 897
69 x 14 = 966
69 x 15 = 1035
69 x 16 = 1104
69 x 17 = 1173
69 x 18 = 1242
69 x 19 = 1311
69 x 20 = 1380

Table of 68:
68 x  1 = 68
68 x  2 = 136
68 x  3 = 204
68 x  4 = 272
68 x  5 = 340
68 x  6 = 408
68 x  7 = 476
68 x  8 = 544
68 x  9 = 612
68 x 10 = 680
68 x 11 = 748
68 x 12 = 816
68 x 13 = 884
68 x 14 = 952
68 x 15 = 1020
68 x 16 = 1088
68 x 17 = 1156
68 x 18 = 1224
68 x 19 = 1292
68 x 20 = 1360

Table of 67:
67 x  1 = 67
67 x  2 = 134
67 x  3 = 201
67 x  4 = 268
67 x  5 = 335
67 x  6 = 402
67 x  7 = 469
67 x  8 = 536
67 x  9 = 603
67 x 10 = 670
67 x 11 = 737
67 x 12 = 804
67 x 13 = 871
67 x 14 = 938
67 x 15 = 1005
67 x 16 = 1072
67 x 17 = 1139
67 x 18 = 1206
67 x 19 = 1273
67 x 20 = 1340

Table of 66:
66 x  1 = 66
66 x  2 = 132
66 x  3 = 198
66 x  4 = 264
66 x  5 = 330
66 x  6 = 396
66 x  7 = 462
66 x  8 = 528
66 x  9 = 594
66 x 10 = 660
66 x 11 = 726
66 x 12 = 792
66 x 13 = 858
66 x 14 = 924
66 x 15 = 990
66 x 16 = 1056
66 x 17 = 1122
66 x 18 = 1188
66 x 19 = 1254
66 x 20 = 1320

Table of 65:
65 x  1 = 65
65 x  2 = 130
65 x  3 = 195
65 x  4 = 260
65 x  5 = 325
65 x  6 = 390
65 x  7 = 455
65 x  8 = 520
65 x  9 = 585
65 x 10 = 650
65 x 11 = 715
65 x 12 = 780
65 x 13 = 845
65 x 14 = 910
65 x 15 = 975
65 x 16 = 1040
65 x 17 = 1105
65 x 18 = 1170
65 x 19 = 1235
65 x 20 = 1300

Table of 64:
64 x  1 = 64
64 x  2 = 128
64 x  3 = 192
64 x  4 = 256
64 x  5 = 320
64 x  6 = 384
64 x  7 = 448
64 x  8 = 512
64 x  9 = 576
64 x 10 = 640
64 x 11 = 704
64 x 12 = 768
64 x 13 = 832
64 x 14 = 896
64 x 15 = 960
64 x 16 = 1024
64 x 17 = 1088
64 x 18 = 1152
64 x 19 = 1216
64 x 20 = 1280

Table of 63:
63 x  1 = 63
63 x  2 = 126
63 x  3 = 189
63 x  4 = 252
63 x  5 = 315
63 x  6 = 378
63 x  7 = 441
63 x  8 = 504
63 x  9 = 567
63 x 10 = 630
63 x 11 = 693
63 x 12 = 756
63 x 13 = 819
63 x 14 = 882
63 x 15 = 945
63 x 16 = 1008
63 x 17 = 1071
63 x 18 = 1134
63 x 19 = 1197
63 x 20 = 1260

Table of 62:
62 x  1 = 62
62 x  2 = 124
62 x  3 = 186
62 x  4 = 248
62 x  5 = 310
62 x  6 = 372
62 x  7 = 434
62 x  8 = 496
62 x  9 = 558
62 x 10 = 620
62 x 11 = 682
62 x 12 = 744
62 x 13 = 806
62 x 14 = 868
62 x 15 = 930
62 x 16 = 992
62 x 17 = 1054
62 x 18 = 1116
62 x 19 = 1178
62 x 20 = 1240

Table of 61:
61 x  1 = 61
61 x  2 = 122
61 x  3 = 183
61 x  4 = 244
61 x  5 = 305
61 x  6 = 366
61 x  7 = 427
61 x  8 = 488
61 x  9 = 549
61 x 10 = 610
61 x 11 = 671
61 x 12 = 732
61 x 13 = 793
61 x 14 = 854
61 x 15 = 915
61 x 16 = 976
61 x 17 = 1037
61 x 18 = 1098
61 x 19 = 1159
61 x 20 = 1220

Table of 60:
60 x  1 = 60
60 x  2 = 120
60 x  3 = 180
60 x  4 = 240
60 x  5 = 300
60 x  6 = 360
60 x  7 = 420
60 x  8 = 480
60 x  9 = 540
60 x 10 = 600
60 x 11 = 660
60 x 12 = 720
60 x 13 = 780
60 x 14 = 840
60 x 15 = 900
60 x 16 = 960
60 x 17 = 1020
60 x 18 = 1080
60 x 19 = 1140
60 x 20 = 1200

Table of 59:
59 x  1 = 59
59 x  2 = 118
59 x  3 = 177
59 x  4 = 236
59 x  5 = 295
59 x  6 = 354
59 x  7 = 413
59 x  8 = 472
59 x  9 = 531
59 x 10 = 590
59 x 11 = 649
59 x 12 = 708
59 x 13 = 767
59 x 14 = 826
59 x 15 = 885
59 x 16 = 944
59 x 17 = 1003
59 x 18 = 1062
59 x 19 = 1121
59 x 20 = 1180

Table of 58:
58 x  1 = 58
58 x  2 = 116
58 x  3 = 174
58 x  4 = 232
58 x  5 = 290
58 x  6 = 348
58 x  7 = 406
58 x  8 = 464
58 x  9 = 522
58 x 10 = 580
58 x 11 = 638
58 x 12 = 696
58 x 13 = 754
58 x 14 = 812
58 x 15 = 870
58 x 16 = 928
58 x 17 = 986
58 x 18 = 1044
58 x 19 = 1102
58 x 20 = 1160

Table of 57:
57 x  1 = 57
57 x  2 = 114
57 x  3 = 171
57 x  4 = 228
57 x  5 = 285
57 x  6 = 342
57 x  7 = 399
57 x  8 = 456
57 x  9 = 513
57 x 10 = 570
57 x 11 = 627
57 x 12 = 684
57 x 13 = 741
57 x 14 = 798
57 x 15 = 855
57 x 16 = 912
57 x 17 = 969
57 x 18 = 1026
57 x 19 = 1083
57 x 20 = 1140

Table of 56:
56 x  1 = 56
56 x  2 = 112
56 x  3 = 168
56 x  4 = 224
56 x  5 = 280
56 x  6 = 336
56 x  7 = 392
56 x  8 = 448
56 x  9 = 504
56 x 10 = 560
56 x 11 = 616
56 x 12 = 672
56 x 13 = 728
56 x 14 = 784
56 x 15 = 840
56 x 16 = 896
56 x 17 = 952
56 x 18 = 1008
56 x 19 = 1064
56 x 20 = 1120

Table of 55:
55 x  1 = 55
55 x  2 = 110
55 x  3 = 165
55 x  4 = 220
55 x  5 = 275
55 x  6 = 330
55 x  7 = 385
55 x  8 = 440
55 x  9 = 495
55 x 10 = 550
55 x 11 = 605
55 x 12 = 660
55 x 13 = 715
55 x 14 = 770
55 x 15 = 825
55 x 16 = 880
55 x 17 = 935
55 x 18 = 990
55 x 19 = 1045
55 x 20 = 1100

Table of 54:
54 x  1 = 54
54 x  2 = 108
54 x  3 = 162
54 x  4 = 216
54 x  5 = 270
54 x  6 = 324
54 x  7 = 378
54 x  8 = 432
54 x  9 = 486
54 x 10 = 540
54 x 11 = 594
54 x 12 = 648
54 x 13 = 702
54 x 14 = 756
54 x 15 = 810
54 x 16 = 864
54 x 17 = 918
54 x 18 = 972
54 x 19 = 1026
54 x 20 = 1080

Table of 53:
53 x  1 = 53
53 x  2 = 106
53 x  3 = 159
53 x  4 = 212
53 x  5 = 265
53 x  6 = 318
53 x  7 = 371
53 x  8 = 424
53 x  9 = 477
53 x 10 = 530
53 x 11 = 583
53 x 12 = 636
53 x 13 = 689
53 x 14 = 742
53 x 15 = 795
53 x 16 = 848
53 x 17 = 901
53 x 18 = 954
53 x 19 = 1007
53 x 20 = 1060

Table of 52:
52 x  1 = 52
52 x  2 = 104
52 x  3 = 156
52 x  4 = 208
52 x  5 = 260
52 x  6 = 312
52 x  7 = 364
52 x  8 = 416
52 x  9 = 468
52 x 10 = 520
52 x 11 = 572
52 x 12 = 624
52 x 13 = 676
52 x 14 = 728
52 x 15 = 780
52 x 16 = 832
52 x 17 = 884
52 x 18 = 936
52 x 19 = 988
52 x 20 = 1040

Table of 51:
51 x  1 = 51
51 x  2 = 102
51 x  3 = 153
51 x  4 = 204
51 x  5 = 255
51 x  6 = 306
51 x  7 = 357
51 x  8 = 408
51 x  9 = 459
51 x 10 = 510
51 x 11 = 561
51 x 12 = 612
51 x 13 = 663
51 x 14 = 714
51 x 15 = 765
51 x 16 = 816
51 x 17 = 867
51 x 18 = 918
51 x 19 = 969
51 x 20 = 1020

Table of 50:
50 x  1 = 50
50 x  2 = 100
50 x  3 = 150
50 x  4 = 200
50 x  5 = 250
50 x  6 = 300
50 x  7 = 350
50 x  8 = 400
50 x  9 = 450
50 x 10 = 500
50 x 11 = 550
50 x 12 = 600
50 x 13 = 650
50 x 14 = 700
50 x 15 = 750
50 x 16 = 800
50 x 17 = 850
50 x 18 = 900
50 x 19 = 950
50 x 20 = 1000

Table of 49:
49 x  1 = 49
49 x  2 = 98
49 x  3 = 147
49 x  4 = 196
49 x  5 = 245
49 x  6 = 294
49 x  7 = 343
49 x  8 = 392
49 x  9 = 441
49 x 10 = 490
49 x 11 = 539
49 x 12 = 588
49 x 13 = 637
49 x 14 = 686
49 x 15 = 735
49 x 16 = 784
49 x 17 = 833
49 x 18 = 882
49 x 19 = 931
49 x 20 = 980

Table of 48:
48 x  1 = 48
48 x  2 = 96
48 x  3 = 144
48 x  4 = 192
48 x  5 = 240
48 x  6 = 288
48 x  7 = 336
48 x  8 = 384
48 x  9 = 432
48 x 10 = 480
48 x 11 = 528
48 x 12 = 576
48 x 13 = 624
48 x 14 = 672
48 x 15 = 720
48 x 16 = 768
48 x 17 = 816
48 x 18 = 864
48 x 19 = 912
48 x 20 = 960

Table of 47:
47 x  1 = 47
47 x  2 = 94
47 x  3 = 141
47 x  4 = 188
47 x  5 = 235
47 x  6 = 282
47 x  7 = 329
47 x  8 = 376
47 x  9 = 423
47 x 10 = 470
47 x 11 = 517
47 x 12 = 564
47 x 13 = 611
47 x 14 = 658
47 x 15 = 705
47 x 16 = 752
47 x 17 = 799
47 x 18 = 846
47 x 19 = 893
47 x 20 = 940

Table of 46:
46 x  1 = 46
46 x  2 = 92
46 x  3 = 138
46 x  4 = 184
46 x  5 = 230
46 x  6 = 276
46 x  7 = 322
46 x  8 = 368
46 x  9 = 414
46 x 10 = 460
46 x 11 = 506
46 x 12 = 552
46 x 13 = 598
46 x 14 = 644
46 x 15 = 690
46 x 16 = 736
46 x 17 = 782
46 x 18 = 828
46 x 19 = 874
46 x 20 = 920

Table of 45:
45 x  1 = 45
45 x  2 = 90
45 x  3 = 135
45 x  4 = 180
45 x  5 = 225
45 x  6 = 270
45 x  7 = 315
45 x  8 = 360
45 x  9 = 405
45 x 10 = 450
45 x 11 = 495
45 x 12 = 540
45 x 13 = 585
45 x 14 = 630
45 x 15 = 675
45 x 16 = 720
45 x 17 = 765
45 x 18 = 810
45 x 19 = 855
45 x 20 = 900

Table of 44:
44 x  1 = 44
44 x  2 = 88
44 x  3 = 132
44 x  4 = 176
44 x  5 = 220
44 x  6 = 264
44 x  7 = 308
44 x  8 = 352
44 x  9 = 396
44 x 10 = 440
44 x 11 = 484
44 x 12 = 528
44 x 13 = 572
44 x 14 = 616
44 x 15 = 660
44 x 16 = 704
44 x 17 = 748
44 x 18 = 792
44 x 19 = 836
44 x 20 = 880

Table of 43:
43 x  1 = 43
43 x  2 = 86
43 x  3 = 129
43 x  4 = 172
43 x  5 = 215
43 x  6 = 258
43 x  7 = 301
43 x  8 = 344
43 x  9 = 387
43 x 10 = 430
43 x 11 = 473
43 x 12 = 516
43 x 13 = 559
43 x 14 = 602
43 x 15 = 645
43 x 16 = 688
43 x 17 = 731
43 x 18 = 774
43 x 19 = 817
43 x 20 = 860

Table of 42:
42 x  1 = 42
42 x  2 = 84
42 x  3 = 126
42 x  4 = 168
42 x  5 = 210
42 x  6 = 252
42 x  7 = 294
42 x  8 = 336
42 x  9 = 378
42 x 10 = 420
42 x 11 = 462
42 x 12 = 504
42 x 13 = 546
42 x 14 = 588
42 x 15 = 630
42 x 16 = 672
42 x 17 = 714
42 x 18 = 756
42 x 19 = 798
42 x 20 = 840

Table of 41:
41 x  1 = 41
41 x  2 = 82
41 x  3 = 123
41 x  4 = 164
41 x  5 = 205
41 x  6 = 246
41 x  7 = 287
41 x  8 = 328
41 x  9 = 369
41 x 10 = 410
41 x 11 = 451
41 x 12 = 492
41 x 13 = 533
41 x 14 = 574
41 x 15 = 615
41 x 16 = 656
41 x 17 = 697
41 x 18 = 738
41 x 19 = 779
41 x 20 = 820

Table of 40:
40 x  1 = 40
40 x  2 = 80
40 x  3 = 120
40 x  4 = 160
40 x  5 = 200
40 x  6 = 240
40 x  7 = 280
40 x  8 = 320
40 x  9 = 360
40 x 10 = 400
40 x 11 = 440
40 x 12 = 480
40 x 13 = 520
40 x 14 = 560
40 x 15 = 600
40 x 16 = 640
40 x 17 = 680
40 x 18 = 720
40 x 19 = 760
40 x 20 = 800

Table of 39:
39 x  1 = 39
39 x  2 = 78
39 x  3 = 117
39 x  4 = 156
39 x  5 = 195
39 x  6 = 234
39 x  7 = 273
39 x  8 = 312
39 x  9 = 351
39 x 10 = 390
39 x 11 = 429
39 x 12 = 468
39 x 13 = 507
39 x 14 = 546
39 x 15 = 585
39 x 16 = 624
39 x 17 = 663
39 x 18 = 702
39 x 19 = 741
39 x 20 = 780

Table of 38:
38 x  1 = 38
38 x  2 = 76
38 x  3 = 114
38 x  4 = 152
38 x  5 = 190
38 x  6 = 228
38 x  7 = 266
38 x  8 = 304
38 x  9 = 342
38 x 10 = 380
38 x 11 = 418
38 x 12 = 456
38 x 13 = 494
38 x 14 = 532
38 x 15 = 570
38 x 16 = 608
38 x 17 = 646
38 x 18 = 684
38 x 19 = 722
38 x 20 = 760

Table of 37:
37 x  1 = 37
37 x  2 = 74
37 x  3 = 111
37 x  4 = 148
37 x  5 = 185
37 x  6 = 222
37 x  7 = 259
37 x  8 = 296
37 x  9 = 333
37 x 10 = 370
37 x 11 = 407
37 x 12 = 444
37 x 13 = 481
37 x 14 = 518
37 x 15 = 555
37 x 16 = 592
37 x 17 = 629
37 x 18 = 666
37 x 19 = 703
37 x 20 = 740

Table of 36:
36 x  1 = 36
36 x  2 = 72
36 x  3 = 108
36 x  4 = 144
36 x  5 = 180
36 x  6 = 216
36 x  7 = 252
36 x  8 = 288
36 x  9 = 324
36 x 10 = 360
36 x 11 = 396
36 x 12 = 432
36 x 13 = 468
36 x 14 = 504
36 x 15 = 540
36 x 16 = 576
36 x 17 = 612
36 x 18 = 648
36 x 19 = 684
36 x 20 = 720

Table of 35:
35 x  1 = 35
35 x  2 = 70
35 x  3 = 105
35 x  4 = 140
35 x  5 = 175
35 x  6 = 210
35 x  7 = 245
35 x  8 = 280
35 x  9 = 315
35 x 10 = 350
35 x 11 = 385
35 x 12 = 420
35 x 13 = 455
35 x 14 = 490
35 x 15 = 525
35 x 16 = 560
35 x 17 = 595
35 x 18 = 630
35 x 19 = 665
35 x 20 = 700

Table of 34:
34 x  1 = 34
34 x  2 = 68
34 x  3 = 102
34 x  4 = 136
34 x  5 = 170
34 x  6 = 204
34 x  7 = 238
34 x  8 = 272
34 x  9 = 306
34 x 10 = 340
34 x 11 = 374
34 x 12 = 408
34 x 13 = 442
34 x 14 = 476
34 x 15 = 510
34 x 16 = 544
34 x 17 = 578
34 x 18 = 612
34 x 19 = 646
34 x 20 = 680

Table of 33:

In [8]:
def print_tables_grid(start=100, end=1, upto=10, per_row=5):
    nums = list(range(start, end - 1, -1))
    for i in range(0, len(nums), per_row):
        chunk = nums[i:i + per_row]
        # header line with table numbers
        header = "      ".join(f"Table   {n:<3}  " for n in chunk)
        print(header)
        # rows of multiples
        for m in range(1, upto + 1):
            row = "   ".join(f"{n:3} x {m:2} = {n*m:<4}" for n in chunk)
            print(row)
        print()

# Example: print tables from 100 down to 1, 10 multiples each, 5 tables per row
print_tables_grid(100, 1, upto=10, per_row=5)

Table   100        Table   99         Table   98         Table   97         Table   96
100 x  1 = 100     99 x  1 = 99      98 x  1 = 98      97 x  1 = 97      96 x  1 = 96
100 x  2 = 200     99 x  2 = 198     98 x  2 = 196     97 x  2 = 194     96 x  2 = 192
100 x  3 = 300     99 x  3 = 297     98 x  3 = 294     97 x  3 = 291     96 x  3 = 288
100 x  4 = 400     99 x  4 = 396     98 x  4 = 392     97 x  4 = 388     96 x  4 = 384
100 x  5 = 500     99 x  5 = 495     98 x  5 = 490     97 x  5 = 485     96 x  5 = 480
100 x  6 = 600     99 x  6 = 594     98 x  6 = 588     97 x  6 = 582     96 x  6 = 576
100 x  7 = 700     99 x  7 = 693     98 x  7 = 686     97 x  7 = 679     96 x  7 = 672
100 x  8 = 800     99 x  8 = 792     98 x  8 = 784     97 x  8 = 776     96 x  8 = 768
100 x  9 = 900     99 x  9 = 891     98 x  9 = 882     97 x  9 = 873     96 x  9 = 864
100 x 10 = 1000    99 x 10 = 990     98 x 10 = 980     97 x 10 = 970     96 x 10 = 960

Table   95         Table   94         Table   93         Table   92         Table   91
 95 x  1 = 95      94 x  1 = 94      93 x  1 = 93      92 x  1 = 92      91 x  1 = 91
 95 x  2 = 190     94 x  2 = 188     93 x  2 = 186     92 x  2 = 184     91 x  2 = 182
 95 x  3 = 285     94 x  3 = 282     93 x  3 = 279     92 x  3 = 276     91 x  3 = 273
 95 x  4 = 380     94 x  4 = 376     93 x  4 = 372     92 x  4 = 368     91 x  4 = 364
 95 x  5 = 475     94 x  5 = 470     93 x  5 = 465     92 x  5 = 460     91 x  5 = 455
 95 x  6 = 570     94 x  6 = 564     93 x  6 = 558     92 x  6 = 552     91 x  6 = 546
 95 x  7 = 665     94 x  7 = 658     93 x  7 = 651     92 x  7 = 644     91 x  7 = 637
 95 x  8 = 760     94 x  8 = 752     93 x  8 = 744     92 x  8 = 736     91 x  8 = 728
 95 x  9 = 855     94 x  9 = 846     93 x  9 = 837     92 x  9 = 828     91 x  9 = 819
 95 x 10 = 950     94 x 10 = 940     93 x 10 = 930     92 x 10 = 920     91 x 10 = 910

Table   90         Table   89         Table   88         Table   87         Table   86
 90 x  1 = 90      89 x  1 = 89      88 x  1 = 88      87 x  1 = 87      86 x  1 = 86
 90 x  2 = 180     89 x  2 = 178     88 x  2 = 176     87 x  2 = 174     86 x  2 = 172
 90 x  3 = 270     89 x  3 = 267     88 x  3 = 264     87 x  3 = 261     86 x  3 = 258
 90 x  4 = 360     89 x  4 = 356     88 x  4 = 352     87 x  4 = 348     86 x  4 = 344
 90 x  5 = 450     89 x  5 = 445     88 x  5 = 440     87 x  5 = 435     86 x  5 = 430
 90 x  6 = 540     89 x  6 = 534     88 x  6 = 528     87 x  6 = 522     86 x  6 = 516
 90 x  7 = 630     89 x  7 = 623     88 x  7 = 616     87 x  7 = 609     86 x  7 = 602
 90 x  8 = 720     89 x  8 = 712     88 x  8 = 704     87 x  8 = 696     86 x  8 = 688
 90 x  9 = 810     89 x  9 = 801     88 x  9 = 792     87 x  9 = 783     86 x  9 = 774
 90 x 10 = 900     89 x 10 = 890     88 x 10 = 880     87 x 10 = 870     86 x 10 = 860

Table   85         Table   84         Table   83         Table   82         Table   81
 85 x  1 = 85      84 x  1 = 84      83 x  1 = 83      82 x  1 = 82      81 x  1 = 81
 85 x  2 = 170     84 x  2 = 168     83 x  2 = 166     82 x  2 = 164     81 x  2 = 162
 85 x  3 = 255     84 x  3 = 252     83 x  3 = 249     82 x  3 = 246     81 x  3 = 243
 85 x  4 = 340     84 x  4 = 336     83 x  4 = 332     82 x  4 = 328     81 x  4 = 324
 85 x  5 = 425     84 x  5 = 420     83 x  5 = 415     82 x  5 = 410     81 x  5 = 405
 85 x  6 = 510     84 x  6 = 504     83 x  6 = 498     82 x  6 = 492     81 x  6 = 486
 85 x  7 = 595     84 x  7 = 588     83 x  7 = 581     82 x  7 = 574     81 x  7 = 567
 85 x  8 = 680     84 x  8 = 672     83 x  8 = 664     82 x  8 = 656     81 x  8 = 648
 85 x  9 = 765     84 x  9 = 756     83 x  9 = 747     82 x  9 = 738     81 x  9 = 729
 85 x 10 = 850     84 x 10 = 840     83 x 10 = 830     82 x 10 = 820     81 x 10 = 810

Table   80         Table   79         Table   78         Table   77         Table   76
 80 x  1 = 80      79 x  1 = 79      78 x  1 = 78      77 x  1 = 77      76 x  1 = 76
 80 x  2 = 160     79 x  2 = 158     78 x  2 = 156     77 x  2 = 154     76 x  2 = 152
 80 x  3 = 240     79 x  3 = 237     78 x  3 = 234     77 x  3 = 231     76 x  3 = 228
 80 x  4 = 320     79 x  4 = 316     78 x  4 = 312     77 x  4 = 308     76 x  4 = 304
 80 x  5 = 400     79 x  5 = 395     78 x  5 = 390     77 x  5 = 385     76 x  5 = 380
 80 x  6 = 480     79 x  6 = 474     78 x  6 = 468     77 x  6 = 462     76 x  6 = 456
 80 x  7 = 560     79 x  7 = 553     78 x  7 = 546     77 x  7 = 539     76 x  7 = 532
 80 x  8 = 640     79 x  8 = 632     78 x  8 = 624     77 x  8 = 616     76 x  8 = 608
 80 x  9 = 720     79 x  9 = 711     78 x  9 = 702     77 x  9 = 693     76 x  9 = 684
 80 x 10 = 800     79 x 10 = 790     78 x 10 = 780     77 x 10 = 770     76 x 10 = 760

Table   75         Table   74         Table   73         Table   72         Table   71
 75 x  1 = 75      74 x  1 = 74      73 x  1 = 73      72 x  1 = 72      71 x  1 = 71
 75 x  2 = 150     74 x  2 = 148     73 x  2 = 146     72 x  2 = 144     71 x  2 = 142
 75 x  3 = 225     74 x  3 = 222     73 x  3 = 219     72 x  3 = 216     71 x  3 = 213
 75 x  4 = 300     74 x  4 = 296     73 x  4 = 292     72 x  4 = 288     71 x  4 = 284
 75 x  5 = 375     74 x  5 = 370     73 x  5 = 365     72 x  5 = 360     71 x  5 = 355
 75 x  6 = 450     74 x  6 = 444     73 x  6 = 438     72 x  6 = 432     71 x  6 = 426
 75 x  7 = 525     74 x  7 = 518     73 x  7 = 511     72 x  7 = 504     71 x  7 = 497
 75 x  8 = 600     74 x  8 = 592     73 x  8 = 584     72 x  8 = 576     71 x  8 = 568
 75 x  9 = 675     74 x  9 = 666     73 x  9 = 657     72 x  9 = 648     71 x  9 = 639
 75 x 10 = 750     74 x 10 = 740     73 x 10 = 730     72 x 10 = 720     71 x 10 = 710

Table   70         Table   69         Table   68         Table   67         Table   66
 70 x  1 = 70      69 x  1 = 69      68 x  1 = 68      67 x  1 = 67      66 x  1 = 66
 70 x  2 = 140     69 x  2 = 138     68 x  2 = 136     67 x  2 = 134     66 x  2 = 132
 70 x  3 = 210     69 x  3 = 207     68 x  3 = 204     67 x  3 = 201     66 x  3 = 198
 70 x  4 = 280     69 x  4 = 276     68 x  4 = 272     67 x  4 = 268     66 x  4 = 264
 70 x  5 = 350     69 x  5 = 345     68 x  5 = 340     67 x  5 = 335     66 x  5 = 330
 70 x  6 = 420     69 x  6 = 414     68 x  6 = 408     67 x  6 = 402     66 x  6 = 396
 70 x  7 = 490     69 x  7 = 483     68 x  7 = 476     67 x  7 = 469     66 x  7 = 462
 70 x  8 = 560     69 x  8 = 552     68 x  8 = 544     67 x  8 = 536     66 x  8 = 528
 70 x  9 = 630     69 x  9 = 621     68 x  9 = 612     67 x  9 = 603     66 x  9 = 594
 70 x 10 = 700     69 x 10 = 690     68 x 10 = 680     67 x 10 = 670     66 x 10 = 660

Table   65         Table   64         Table   63         Table   62         Table   61
 65 x  1 = 65      64 x  1 = 64      63 x  1 = 63      62 x  1 = 62      61 x  1 = 61
 65 x  2 = 130     64 x  2 = 128     63 x  2 = 126     62 x  2 = 124     61 x  2 = 122
 65 x  3 = 195     64 x  3 = 192     63 x  3 = 189     62 x  3 = 186     61 x  3 = 183
 65 x  4 = 260     64 x  4 = 256     63 x  4 = 252     62 x  4 = 248     61 x  4 = 244
 65 x  5 = 325     64 x  5 = 320     63 x  5 = 315     62 x  5 = 310     61 x  5 = 305
 65 x  6 = 390     64 x  6 = 384     63 x  6 = 378     62 x  6 = 372     61 x  6 = 366
 65 x  7 = 455     64 x  7 = 448     63 x  7 = 441     62 x  7 = 434     61 x  7 = 427
 65 x  8 = 520     64 x  8 = 512     63 x  8 = 504     62 x  8 = 496     61 x  8 = 488
 65 x  9 = 585     64 x  9 = 576     63 x  9 = 567     62 x  9 = 558     61 x  9 = 549
 65 x 10 = 650     64 x 10 = 640     63 x 10 = 630     62 x 10 = 620     61 x 10 = 610

Table   60         Table   59         Table   58         Table   57         Table   56
 60 x  1 = 60      59 x  1 = 59      58 x  1 = 58      57 x  1 = 57      56 x  1 = 56
 60 x  2 = 120     59 x  2 = 118     58 x  2 = 116     57 x  2 = 114     56 x  2 = 112
 60 x  3 = 180     59 x  3 = 177     58 x  3 = 174     57 x  3 = 171     56 x  3 = 168
 60 x  4 = 240     59 x  4 = 236     58 x  4 = 232     57 x  4 = 228     56 x  4 = 224
 60 x  5 = 300     59 x  5 = 295     58 x  5 = 290     57 x  5 = 285     56 x  5 = 280
 60 x  6 = 360     59 x  6 = 354     58 x  6 = 348     57 x  6 = 342     56 x  6 = 336
 60 x  7 = 420     59 x  7 = 413     58 x  7 = 406     57 x  7 = 399     56 x  7 = 392
 60 x  8 = 480     59 x  8 = 472     58 x  8 = 464     57 x  8 = 456     56 x  8 = 448
 60 x  9 = 540     59 x  9 = 531     58 x  9 = 522     57 x  9 = 513     56 x  9 = 504
 60 x 10 = 600     59 x 10 = 590     58 x 10 = 580     57 x 10 = 570     56 x 10 = 560

Table   55         Table   54         Table   53         Table   52         Table   51
 55 x  1 = 55      54 x  1 = 54      53 x  1 = 53      52 x  1 = 52      51 x  1 = 51
 55 x  2 = 110     54 x  2 = 108     53 x  2 = 106     52 x  2 = 104     51 x  2 = 102
 55 x  3 = 165     54 x  3 = 162     53 x  3 = 159     52 x  3 = 156     51 x  3 = 153
 55 x  4 = 220     54 x  4 = 216     53 x  4 = 212     52 x  4 = 208     51 x  4 = 204
 55 x  5 = 275     54 x  5 = 270     53 x  5 = 265     52 x  5 = 260     51 x  5 = 255
 55 x  6 = 330     54 x  6 = 324     53 x  6 = 318     52 x  6 = 312     51 x  6 = 306
 55 x  7 = 385     54 x  7 = 378     53 x  7 = 371     52 x  7 = 364     51 x  7 = 357
 55 x  8 = 440     54 x  8 = 432     53 x  8 = 424     52 x  8 = 416     51 x  8 = 408
 55 x  9 = 495     54 x  9 = 486     53 x  9 = 477     52 x  9 = 468     51 x  9 = 459
 55 x 10 = 550     54 x 10 = 540     53 x 10 = 530     52 x 10 = 520     51 x 10 = 510

Table   50         Table   49         Table   48         Table   47         Table   46
 50 x  1 = 50      49 x  1 = 49      48 x  1 = 48      47 x  1 = 47      46 x  1 = 46
 50 x  2 = 100     49 x  2 = 98      48 x  2 = 96      47 x  2 = 94      46 x  2 = 92
 50 x  3 = 150     49 x  3 = 147     48 x  3 = 144     47 x  3 = 141     46 x  3 = 138
 50 x  4 = 200     49 x  4 = 196     48 x  4 = 192     47 x  4 = 188     46 x  4 = 184
 50 x  5 = 250     49 x  5 = 245     48 x  5 = 240     47 x  5 = 235     46 x  5 = 230
 50 x  6 = 300     49 x  6 = 294     48 x  6 = 288     47 x  6 = 282     46 x  6 = 276
 50 x  7 = 350     49 x  7 = 343     48 x  7 = 336     47 x  7 = 329     46 x  7 = 322
 50 x  8 = 400     49 x  8 = 392     48 x  8 = 384     47 x  8 = 376     46 x  8 = 368
 50 x  9 = 450     49 x  9 = 441     48 x  9 = 432     47 x  9 = 423     46 x  9 = 414
 50 x 10 = 500     49 x 10 = 490     48 x 10 = 480     47 x 10 = 470     46 x 10 = 460

Table   45         Table   44         Table   43         Table   42         Table   41
 45 x  1 = 45      44 x  1 = 44      43 x  1 = 43      42 x  1 = 42      41 x  1 = 41
 45 x  2 = 90      44 x  2 = 88      43 x  2 = 86      42 x  2 = 84      41 x  2 = 82
 45 x  3 = 135     44 x  3 = 132     43 x  3 = 129     42 x  3 = 126     41 x  3 = 123
 45 x  4 = 180     44 x  4 = 176     43 x  4 = 172     42 x  4 = 168     41 x  4 = 164
 45 x  5 = 225     44 x  5 = 220     43 x  5 = 215     42 x  5 = 210     41 x  5 = 205
 45 x  6 = 270     44 x  6 = 264     43 x  6 = 258     42 x  6 = 252     41 x  6 = 246
 45 x  7 = 315     44 x  7 = 308     43 x  7 = 301     42 x  7 = 294     41 x  7 = 287
 45 x  8 = 360     44 x  8 = 352     43 x  8 = 344     42 x  8 = 336     41 x  8 = 328
 45 x  9 = 405     44 x  9 = 396     43 x  9 = 387     42 x  9 = 378     41 x  9 = 369
 45 x 10 = 450     44 x 10 = 440     43 x 10 = 430     42 x 10 = 420     41 x 10 = 410

Table   40         Table   39         Table   38         Table   37         Table   36
 40 x  1 = 40      39 x  1 = 39      38 x  1 = 38      37 x  1 = 37      36 x  1 = 36
 40 x  2 = 80      39 x  2 = 78      38 x  2 = 76      37 x  2 = 74      36 x  2 = 72
 40 x  3 = 120     39 x  3 = 117     38 x  3 = 114     37 x  3 = 111     36 x  3 = 108
 40 x  4 = 160     39 x  4 = 156     38 x  4 = 152     37 x  4 = 148     36 x  4 = 144
 40 x  5 = 200     39 x  5 = 195     38 x  5 = 190     37 x  5 = 185     36 x  5 = 180
 40 x  6 = 240     39 x  6 = 234     38 x  6 = 228     37 x  6 = 222     36 x  6 = 216
 40 x  7 = 280     39 x  7 = 273     38 x  7 = 266     37 x  7 = 259     36 x  7 = 252
 40 x  8 = 320     39 x  8 = 312     38 x  8 = 304     37 x  8 = 296     36 x  8 = 288
 40 x  9 = 360     39 x  9 = 351     38 x  9 = 342     37 x  9 = 333     36 x  9 = 324
 40 x 10 = 400     39 x 10 = 390     38 x 10 = 380     37 x 10 = 370     36 x 10 = 360

Table   35         Table   34         Table   33         Table   32         Table   31
 35 x  1 = 35      34 x  1 = 34      33 x  1 = 33      32 x  1 = 32      31 x  1 = 31
 35 x  2 = 70      34 x  2 = 68      33 x  2 = 66      32 x  2 = 64      31 x  2 = 62
 35 x  3 = 105     34 x  3 = 102     33 x  3 = 99      32 x  3 = 96      31 x  3 = 93
 35 x  4 = 140     34 x  4 = 136     33 x  4 = 132     32 x  4 = 128     31 x  4 = 124
 35 x  5 = 175     34 x  5 = 170     33 x  5 = 165     32 x  5 = 160     31 x  5 = 155
 35 x  6 = 210     34 x  6 = 204     33 x  6 = 198     32 x  6 = 192     31 x  6 = 186
 35 x  7 = 245     34 x  7 = 238     33 x  7 = 231     32 x  7 = 224     31 x  7 = 217
 35 x  8 = 280     34 x  8 = 272     33 x  8 = 264     32 x  8 = 256     31 x  8 = 248
 35 x  9 = 315     34 x  9 = 306     33 x  9 = 297     32 x  9 = 288     31 x  9 = 279
 35 x 10 = 350     34 x 10 = 340     33 x 10 = 330     32 x 10 = 320     31 x 10 = 310

Table   30         Table   29         Table   28         Table   27         Table   26
 30 x  1 = 30      29 x  1 = 29      28 x  1 = 28      27 x  1 = 27      26 x  1 = 26
 30 x  2 = 60      29 x  2 = 58      28 x  2 = 56      27 x  2 = 54      26 x  2 = 52
 30 x  3 = 90      29 x  3 = 87      28 x  3 = 84      27 x  3 = 81      26 x  3 = 78
 30 x  4 = 120     29 x  4 = 116     28 x  4 = 112     27 x  4 = 108     26 x  4 = 104
 30 x  5 = 150     29 x  5 = 145     28 x  5 = 140     27 x  5 = 135     26 x  5 = 130
 30 x  6 = 180     29 x  6 = 174     28 x  6 = 168     27 x  6 = 162     26 x  6 = 156
 30 x  7 = 210     29 x  7 = 203     28 x  7 = 196     27 x  7 = 189     26 x  7 = 182
 30 x  8 = 240     29 x  8 = 232     28 x  8 = 224     27 x  8 = 216     26 x  8 = 208
 30 x  9 = 270     29 x  9 = 261     28 x  9 = 252     27 x  9 = 243     26 x  9 = 234
 30 x 10 = 300     29 x 10 = 290     28 x 10 = 280     27 x 10 = 270     26 x 10 = 260

Table   25         Table   24         Table   23         Table   22         Table   21
 25 x  1 = 25      24 x  1 = 24      23 x  1 = 23      22 x  1 = 22      21 x  1 = 21
 25 x  2 = 50      24 x  2 = 48      23 x  2 = 46      22 x  2 = 44      21 x  2 = 42
 25 x  3 = 75      24 x  3 = 72      23 x  3 = 69      22 x  3 = 66      21 x  3 = 63
 25 x  4 = 100     24 x  4 = 96      23 x  4 = 92      22 x  4 = 88      21 x  4 = 84
 25 x  5 = 125     24 x  5 = 120     23 x  5 = 115     22 x  5 = 110     21 x  5 = 105
 25 x  6 = 150     24 x  6 = 144     23 x  6 = 138     22 x  6 = 132     21 x  6 = 126
 25 x  7 = 175     24 x  7 = 168     23 x  7 = 161     22 x  7 = 154     21 x  7 = 147
 25 x  8 = 200     24 x  8 = 192     23 x  8 = 184     22 x  8 = 176     21 x  8 = 168
 25 x  9 = 225     24 x  9 = 216     23 x  9 = 207     22 x  9 = 198     21 x  9 = 189
 25 x 10 = 250     24 x 10 = 240     23 x 10 = 230     22 x 10 = 220     21 x 10 = 210

Table   20         Table   19         Table   18         Table   17         Table   16
 20 x  1 = 20      19 x  1 = 19      18 x  1 = 18      17 x  1 = 17      16 x  1 = 16
 20 x  2 = 40      19 x  2 = 38      18 x  2 = 36      17 x  2 = 34      16 x  2 = 32
 20 x  3 = 60      19 x  3 = 57      18 x  3 = 54      17 x  3 = 51      16 x  3 = 48
 20 x  4 = 80      19 x  4 = 76      18 x  4 = 72      17 x  4 = 68      16 x  4 = 64
 20 x  5 = 100     19 x  5 = 95      18 x  5 = 90      17 x  5 = 85      16 x  5 = 80
 20 x  6 = 120     19 x  6 = 114     18 x  6 = 108     17 x  6 = 102     16 x  6 = 96
 20 x  7 = 140     19 x  7 = 133     18 x  7 = 126     17 x  7 = 119     16 x  7 = 112
 20 x  8 = 160     19 x  8 = 152     18 x  8 = 144     17 x  8 = 136     16 x  8 = 128
 20 x  9 = 180     19 x  9 = 171     18 x  9 = 162     17 x  9 = 153     16 x  9 = 144
 20 x 10 = 200     19 x 10 = 190     18 x 10 = 180     17 x 10 = 170     16 x 10 = 160

Table   15         Table   14         Table   13         Table   12         Table   11
 15 x  1 = 15      14 x  1 = 14      13 x  1 = 13      12 x  1 = 12      11 x  1 = 11
 15 x  2 = 30      14 x  2 = 28      13 x  2 = 26      12 x  2 = 24      11 x  2 = 22
 15 x  3 = 45      14 x  3 = 42      13 x  3 = 39      12 x  3 = 36      11 x  3 = 33
 15 x  4 = 60      14 x  4 = 56      13 x  4 = 52      12 x  4 = 48      11 x  4 = 44
 15 x  5 = 75      14 x  5 = 70      13 x  5 = 65      12 x  5 = 60      11 x  5 = 55
 15 x  6 = 90      14 x  6 = 84      13 x  6 = 78      12 x  6 = 72      11 x  6 = 66
 15 x  7 = 105     14 x  7 = 98      13 x  7 = 91      12 x  7 = 84      11 x  7 = 77
 15 x  8 = 120     14 x  8 = 112     13 x  8 = 104     12 x  8 = 96      11 x  8 = 88
 15 x  9 = 135     14 x  9 = 126     13 x  9 = 117     12 x  9 = 108     11 x  9 = 99
 15 x 10 = 150     14 x 10 = 140     13 x 10 = 130     12 x 10 = 120     11 x 10 = 110

Table   10         Table   9          Table   8          Table   7          Table   6
 10 x  1 = 10       9 x  1 = 9        8 x  1 = 8        7 x  1 = 7        6 x  1 = 6
 10 x  2 = 20       9 x  2 = 18       8 x  2 = 16       7 x  2 = 14       6 x  2 = 12
 10 x  3 = 30       9 x  3 = 27       8 x  3 = 24       7 x  3 = 21       6 x  3 = 18
 10 x  4 = 40       9 x  4 = 36       8 x  4 = 32       7 x  4 = 28       6 x  4 = 24
 10 x  5 = 50       9 x  5 = 45       8 x  5 = 40       7 x  5 = 35       6 x  5 = 30
 10 x  6 = 60       9 x  6 = 54       8 x  6 = 48       7 x  6 = 42       6 x  6 = 36
 10 x  7 = 70       9 x  7 = 63       8 x  7 = 56       7 x  7 = 49       6 x  7 = 42
 10 x  8 = 80       9 x  8 = 72       8 x  8 = 64       7 x  8 = 56       6 x  8 = 48
 10 x  9 = 90       9 x  9 = 81       8 x  9 = 72       7 x  9 = 63       6 x  9 = 54
 10 x 10 = 100      9 x 10 = 90       8 x 10 = 80       7 x 10 = 70       6 x 10 = 60

Table   5          Table   4          Table   3          Table   2          Table   1
  5 x  1 = 5        4 x  1 = 4        3 x  1 = 3        2 x  1 = 2        1 x  1 = 1
  5 x  2 = 10       4 x  2 = 8        3 x  2 = 6        2 x  2 = 4        1 x  2 = 2
  5 x  3 = 15       4 x  3 = 12       3 x  3 = 9        2 x  3 = 6        1 x  3 = 3
  5 x  4 = 20       4 x  4 = 16       3 x  4 = 12       2 x  4 = 8        1 x  4 = 4
  5 x  5 = 25       4 x  5 = 20       3 x  5 = 15       2 x  5 = 10       1 x  5 = 5
  5 x  6 = 30       4 x  6 = 24       3 x  6 = 18       2 x  6 = 12       1 x  6 = 6
  5 x  7 = 35       4 x  7 = 28       3 x  7 = 21       2 x  7 = 14       1 x  7 = 7
  5 x  8 = 40       4 x  8 = 32       3 x  8 = 24       2 x  8 = 16       1 x  8 = 8
  5 x  9 = 45       4 x  9 = 36       3 x  9 = 27       2 x  9 = 18       1 x  9 = 9
  5 x 10 = 50       4 x 10 = 40       3 x 10 = 30       2 x 10 = 20       1 x 10 = 10